<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>17/11/18 15:32:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestLoginTest.validateApplicationType()[pri:0, instance:com.loan.application.RestLoginTest@724af044]">validateApplicationType</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/11/18 15:32:59</td>   <td>2327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestLoginTest.validateResponseBody()[pri:0, instance:com.loan.application.RestLoginTest@724af044]">validateResponseBody</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/11/18 15:32:59</td>   <td>2780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestLoginTest.validateStatusCodeGet()[pri:0, instance:com.loan.application.RestLoginTest@724af044]">validateStatusCodeGet</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/11/18 15:33:00</td>   <td>3253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestLoginTest.validateStatusCodePost()[pri:0, instance:com.loan.application.RestLoginTest@724af044]">validateStatusCodePost</td> 
  <td>main@258754732</td>   <td></td> </tr>
</table>
