<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>17/11/18 13:25:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserTest.beforeTest()[pri:0, instance:com.browser.BrowserTest@cb5822]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@237351678</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/11/18 13:25:17</td>   <td>4463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserTest.launchChrome()[pri:0, instance:com.browser.BrowserTest@cb5822]">launchChrome</td> 
  <td>main@237351678</td>   <td></td> </tr>
</table>
